$height-chart: 450px;

.demo-container {
  display: table;
  box-sizing: border-box;
  width: 100%;
  height: $height-chart;
  padding: 20px 15px 15px;
  margin: 0 auto;
  background: #fff;
}

.demo-chart {
  width: 50%;
  height: $height-chart;
  font-size: 14px;
  line-height: 1.2em;
  float: left;
}

.chart-controls {
  margin-left: 35px;
}

